.iconContain {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .frameMiddleContainer {
    // width: 100%;
   
    // flex-direction: column;
    width: 884px;


    display: grid;
    grid-template-rows: auto 1fr auto;
  height: 100vh;
  
    .iconContainer {
      display: flex;
      height: 50px;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px;
  
      .avatarContain {
        height: 40px;
        width: 39px;
        border: 1px solid;
        margin-right: 11px;
        border-radius: 32px;
      }
  
      .name {
        height: 28px;
        width: 42px;
        font-weight: 600;
        font-size: 16px;
        padding-top: 4px;
      }
  
      .functionsContain {
        height: 40px;
        margin-left: calc(100% - 230px);
  
        padding: 6px;
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        .call,
        .facetime {
          width: 22px;
          color: #6cace4;
        }
        .moreInfor {
          height: 23px;
          width: 23px;
          border-radius: 35px;
          margin-top: 2px;
          background-color: #6cace4;
          &.Active {
            background-color: white;
          }
          .contain {
            width: 18px;
            padding-left: 5px; 
            color: white;
  
            &.Active {
              color: #6cace4;
            }
          }
        }
      }
    }
  
    .chat {
      overflow-y: scroll;
      // height: 625px;
      height:100%
    }
    .texting {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      
  
      .fourIcon {
        display: flex;
        width: 126px;
        justify-content: space-between;
        margin-left: 15px;
        padding-top: 22px;
        .image,
        .sticker,
        .gif,
        .anotherAction {
          height: 35px;
          width: 19px;
          color: #6cace4;
        }
      }
      .textingAndLike {
        display: flex;
        width: 87%;
          padding-right: 10px;
        .text {
          width: 100%;
  
          .searchForm {
            margin: 10px;
            display: flex;
            position: relative;
  
            .input {
              height: 37px;
  width: 100%;
              border-radius: 17px;
              background: #f3f3f5;
              padding-left: 10px;
              border: none;
              outline: none;
            }
            .iconSmile {
              width: 20px;
              padding-top: 4px;
              position: absolute;
              top: 42%;
              right: 10px;
              transform: translateY(-50%);
              color: #6cace4;
            }
          }
        }
        .like {
          width: 20px;
          color: #6cace4;
          padding-top: 18px;
        }
      }
    }
  }
  